@import url('https://fonts.googleapis.com/css2?family=Abel&family=Chakra+Petch:wght@500&family=Kanit:wght@200&family=Manrope&family=Roboto:wght@300&family=Syncopate:wght@700&family=Tilt+Neon&family=Unbounded:wght@600&display=swap');


body {
    text-align:center;
    background:linear-gradient(45deg, #b92b27, #1565C0);
    font-family:'Kanit', sans-serif;
    
}

.container {
    width:700px;
    height:700px;
    margin:100px auto;
    display:grid;
    grid-template-rows:repeat(3,1fr);
    grid-template-columns:repeat(3,1fr);
}

.play {
    background-color:#ef4444;
    border:none;
    width:110px;
    height:40px;
    border-radius:8px;
    font-size:18px;
    margin-top:20px;
    font-weight:bold;
}


.board-block {
    background-color:#93c5fd;
    border:1px solid black;
    border-radius:8px;
}